*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

html{
    height: 100%;
}

.centro{
    text-align: center;
}

body{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar{
    background-color: rebeccapurple !important;
}

.jumbotron{
    text-shadow: blueviolet 0px 0px 25px;
    background-color: lightgray;
}

.footer{
    margin-top: auto;
    color: white;
    background-color: rebeccapurple;
    width: 100%;
    padding: 5px;
}

a.Pages:hover{
    color: white;
}

.Pages{
    color: white;
}

.product_img{
    height: 40vh;
    width: auto;
}

.boton{
    color: black;
}
.boton:hover{
    text-decoration: none;
    color:black
}

.pages:hover{
    text-decoration: none;
    color: white;
}

.main-producto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: px;
}

.iconos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nos{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    margin: 10px;
    padding: 30px;
}
