*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
//var inician

$principal: rebeccapurple;

$fondo: lightgray;

$tres: black;

$cuatro: white;

$gris: grey;

//var finalizan
html{
    height: 100%;
}

body{
    background-color: $fondo;
    .centro{
        text-align: center;
    }
    display:flex;
    flex-direction: column;
    min-height: 100%;
}

.jumbotron{
    background-color: $fondo;
    text-shadow: $principal 0 0 30px;
}

.navbar{
    background-color: $principal !important;
}

.footer{
    margin-top: auto;
    color: $cuatro;
    background-color: $principal;
    width: 100%;
    padding: 10px;
    a.Pages:hover{
        color: $cuatro;
    }
    .Pages{
        color: $cuatro;
        text-decoration: none;
    }
    bottom: 0;
}

.main-producto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 15px;
    .boton{
        color: $tres;
        .boton:hover{
        text-decoration: none;
        color: $cuatro;
        }
    }
    
}

.main-nos, .des-p{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 15px;
}


@import "_form.scss"