*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

.centro{
    text-align: center;
}

a{
    text-decoration: none;
}

body{
    background-color: lightgray;
}

.navbar{
    background-color: rebeccapurple !important;
}

.jumbotron{
    text-shadow: blueviolet 0px 0px 25px;
    background-color: lightgray;
}


.footer{
    color: white;
    background-color:rebeccapurple;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.main_img{
    height: 50vh;
    width: auto;
    display: inline-block;
    }

.subrem{
    display: inline-block;
    vertical-align: 550%;
}  

.Pages{
    color: white;
}

.product_img{
    height: 40vh;
    width: auto;
}

.IMG{
    height: 50vh;
    width: 50vh;
    display: inline-block;
    position: absolute;
    bottom: 25%;
}

.tire{
    text-align: center;
    }

.Prc{
    color: black;
    font-size: 26px;
}

.prox{
    height: 100vh;
    width: 200vh;
    object-fit: cover;
}